/* general styles */
.logo {
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}


html {
    scroll-behavior: smooth;
    background-color: #F7F9FA;
}
a:link {color: #373737;}

a {
   text-decoration: none;
}
a:visited {
    color: #373737;
}
a:hover {
    color: #37919B;   
}
li:hover {
    color: #37919B;
    
}
.skillsList li:hover {
    color: #373737;
}
.textUnderlined {
    text-decoration: underline;
  }
body {
    background-color: white;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    font-family: 'Poppins', sans-serif;
    color: #373737;   
}
section {
    display: flex;
    justify-content: center;   
}
.styledHR {
    background-color: #37919B;
    width: 50%;
    height: 4px;
    border: none;
    border-radius: 4px;
}
.grayBG {
    position: fixed;
    display: none;
    background-color: gray;
    height: 100%;
    width: 1200px;
    opacity: 65%;    
}
/* header styles */
header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 16px 0px 16px;
    height: 80px;
    box-shadow: 0 4px 2px -2px #CECECE;      
}
header ul { 
    list-style-type: none;  
}
nav {display: flex;
     flex-direction: row;
    margin: 10px;
    }

.mobileNav { display: none;
             cursor: pointer;
}
.mobileNav:hover {
    box-shadow: 0px 4px 8px #CECECE;
    color: #37919B;
    border-color: #37919B;
    } 
.subNav {
    display: none;
    list-style-type: none;
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    padding: 0px;
    margin: 0;
    z-index: 100;
    max-width: 1200px;
    padding-bottom: 10px;
}
.subNavItem {
    margin-left: 6px;
}
.contactButton a {color:white;}
.contactButton {
    border-radius: 8px ;
    background-color: #37919B;
    color: white;
}
.contactButton:hover {
    box-shadow: 0px 4px 8px #CECECE;
    color: #fff;
    background-color: #2C747C;
}
nav ul {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: baseline;  
}
  /* text styles */ 
  b, strong {
    font-weight: bold;
}
p { 
    line-height: 1.5;
    font-weight: 100;
    margin-top: 20px;
}
h1 {
  font-size: 38px;
  white-space: nowrap;
  font-weight: 100;
  margin-top: 40px;
  
}

h2 {
    font-size: 30px;
    white-space: nowrap;
    font-family: cursive;
    margin-top: 0px;
    margin-bottom: 30px;
}
h3 {
    font-size: 24px !important;
    margin-top: 20px;
    margin-bottom: 0px;
}
h4 {
    font-size: 30px;
    white-space: nowrap;
    font-weight: 100; 
}
h5 {
    font-size: 20px;
    margin: 20px 0px 10px 0px;
}
.heading {
    display: flex;
    
    flex-direction: column;
    align-items: center;
}
li { 
    padding: 14px 14px;     
}
.mainNav li {
    margin: 10px;
}
.subHeading {
    display: flex;
    justify-content: center;
}
.caseStudy p {
    font-size: 14px;  
}
/* home page styles */
.homeText {
    padding: 0px 20px 0px 16px;
    max-width: 600px;  
    text-align: center;
}
.homeImg {
    width: 100%;
    height: auto;  
      
}
.homeImgContainer {
    width: 50%;
    padding: 0px 0px 0px 30px;
    max-width: 300px;
    min-width: 200px;
    
}
.homeHero {
    height: auto;
    margin: 10px 10px 10px 10px;  
  
}
.homePageIcons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 100px 30px 100px;
    
    z-index: -1;   
}
.mainIcons { height: 22px;}

/* about me page styles */
.heading {
    margin: 15px 0px 0px 0px;
    text-align: center;
}

.aboutMeContent {
    width: 80%;
    padding-bottom: 20px;
}
.aboutMeImg {
   width: 250px;
   float: right;
   margin: 5px 0px 20px 20px;
   border-radius: 8px;
   box-shadow: 4px 4px 8px #CECECE;
}

.aboutMeImgLeft {
    width: 250px;
    float: left;
    margin: 5px 20px 20px 0px;
    border-radius: 8px;
    box-shadow: 4px 4px 8px #CECECE;
 }
/* my work styles */
.myWork {
    height: auto;
    margin: 0px 0px 10px 0px;  
}
.caseStudy {
    width: 450px;
    height: 400px;
    text-align: center;
    overflow: hidden;
    margin: 20px;
    box-shadow: 4px 4px 8px #CECECE;
    border-radius: 8px;
    transition: all .2s ease-out;
}
.caseStudyPic {
    width: 100%;
    max-width: 100%;
    height: auto;
}
/* my skills styles */
.skills {
    margin: 0px;
    width: 80%;
}
.mySkills {
    margin: 30px 10px 10px 10px;
}
.skillsLeft {
    grid-area: skillsLeft;
    box-shadow: 0px 4px 8px #CECECE;
    border-radius: 8px;
    padding: 10px 0px 10px 0px;
    margin-right: 20px; 
}
.skillsCenter {
    grid-area: skillsCenter;
    box-shadow: 0px 4px 8px #CECECE;
    border-radius: 8px;
    padding: 10px 0px 10px 0px;
}
.skillsRight {
    grid-area: skillsRight;
    box-shadow: 0px 4px 8px #CECECE;
    border-radius: 8px;
    padding: 10px 0px 10px 0px;
    margin-left: 20px;  
}
.skills {
    display: grid; 
    grid-template-columns: 33% 34% 33%;
    grid-template-areas: 'skillsLeft skillsCenter skillsRight';
    width: 80%;
    margin: 10px 0px 10px 0px;
}

div .skills{
    margin: 0px;
}
.skills li {
    line-height: 1;
    list-style-type: none;
    text-align: center;
}
/* case study styles */

.caseStudyLogos {
    max-width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.GAPlogo {
    width: 55%;
    margin-bottom: 10px;
}

.caseStudyTestLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
 .caseStudyBody li:hover {
    color: #373737
}

.myWork {
    display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
}
.caseStudyDoubleImgContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.caseStudyStackedImgContainer {
     display: flex;
     flex-direction: column;
     width: 49%; 
}
.caseStudyThreeImgContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ThreeImgContainer {
    width: 49%;
}
.caseStudyDoubleImg {
    width: 49%;
}
.doubleImgRowContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 200px;
}
.doubleRowImg {
    width: 100%;
}
.imgLimit {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.caseStudyBody {
    width: 80%;
    margin: 20px 0px 20px 0px;
}
.designIcons {
    display: flex;
    justify-content: space-between;
    transition: all .2s ease-out;
    margin-top: 20px;
}
.designIcon {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    
    border: solid;
    border-color: #373737;
    border-width: 1px;
    transition: all .2s ease-out;  
}
.designIcon:hover {
    transform: scale(1.05); 
    box-shadow: 0px 4px 8px #CECECE;
    color: #37919B;
    border-color: #37919B;
}
.caseStudyLargeImg {
  width: 100%;
  border-style: solid;
  border-color: #E8E8E8;
  border-width: 1px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px #CECECE;
  margin-bottom: 10px;
}
.caseStudySmallImg {
    width: 100%;
    border-style: solid;
    border-color: #E8E8E8;
    border-width: 1px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px #CECECE;
    margin-bottom: 10px;
}
.caseStudySmallImgNoBorder {
    width: 100%;
    margin-bottom: 10px;
}
.blockQuoteContainer {
    display: flex;
    justify-content: flex-end;
    color: #9B9A9A;
}
.blockquote {
    font-size: 20px ;
    font-weight: 100;
    max-width: 66%;  
    padding: 20px 0px 20px 0px;  
}
.textLink {
   
    font-size: 12px;
    display: flex; 
        border-radius: 8px ;
        border-color: #373738 ;
        border-style: inset;
        border-width: thin;
        transition: all .2s ease-out;  
        padding: 6px;
        justify-content: center;
        width: 130px;
}

.textLink:hover {
    box-shadow: 0px 4px 8px #CECECE;
    color: #37919B;
    border-color: #37919B;
    transform: scale(1.05); 
    } 



/* footer styles */
footer {
    box-shadow: 0 -4px 2px -2px #CECECE;  
    background-color: #373738;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:76px;
}
.copyright {
    color: white;
    display: flex;
    justify-content: flex-start;
    padding: 20px;
}
footer ul { 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    color: white;
    list-style-type: none;   
}
.footerIcons {
   
    height: 20px
}
.caseStudy:hover {
    transform: scale(1.03); 
}
/* media queries */ 
@media (max-width: 690px) {
  header ul { font-size: 14px;}
  

.designIcon {
    width: 60px;
    height: 60px;
    border-radius: 8px;
}
}
@media (max-width: 600px) {
    .caseStudyDoubleImgContainer {
        flex-direction: column;
    }
    .caseStudyDoubleImg {
        width: 100%;
    }
    .aboutMeImg {
        width: 49%;
        margin: 5px 0px 10px 16px; 
     }
     .aboutMeImgLeft {
        width: 49%;
        margin: 5px 16px 10px 0px; 
     }

    .navCollapse {
        display: none;
    } 
    .mobileNav { 
        display: flex; 
        border-radius: 8px ;
        border-color: #373738 ;
        border-style: inset;
        border-width: thin;
        margin: 0px 10px;
        padding: 13px;
        justify-content: center;
        width: 41px;
    }
.mainNav {
    padding: 0;
    
}
    .skills {
       display: flex;
       flex-direction: column;
       box-shadow: 0px 4px 8px #CECECE;
       margin: 10px 0px 20px 0px;
       padding: 10px 0px 10px 0px;
       border-radius: 8px;
} 
    .skillsLeft {
        box-shadow: none;
        
    }
    .skillsCenter {
        box-shadow: none;
    }
    .skillsRight {
        box-shadow: none;
    }
    .skillsList {
       list-style-type: none;
       text-align: center;
       margin: 0;
       padding: 0;
}
    .aboutMeContent {
       width: 90%;
}
}
@media (max-width: 750px) {
    .myWork {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
     }
     .caseStudy {
        width: 80%;
        height: 355px;
        margin: 20px 0px 20px 0px;
    }
    .skills {
        width: 90%;
    }
    .caseStudyBody {
        width: 90%; 
    }
}